<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Triangle</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet"> 
    <link href="/static/css/lightbox.css" rel="stylesheet"> 
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">

</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href="https://www.linkedin.com/in/shubhamkahal" target="_blank"><i class="fa fa-linkedin"></i> (Shubham Kahal)</a></li>
                            <li><a href="https://www.linkedin.com/in/jonathan-kisch-129b7197?authType=NAME_SEARCH&authToken=magC&locale=en_US&srchid=2466411181464429738681&srchindex=1&srchtotal=4&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A2466411181464429738681%2CVSRPtargetId%3A346272369%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH" target="_blank"><i class="fa fa-linkedin"></i> (Jonathan Kisch)</a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <h1><img src="/static/images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About</a></li>   
                        <li><a href="/contact">Contact</a></li>                                     
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">App Concepts: Business Reviews of Varying Levels</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                    
                <div class="portfolio-items">
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a href="/pizzaparma"><span class="glyphicon glyphicon-cutlery" style="font-size:261px;"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a href="/pizzaparma"><h2>Pizza Parma</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded folio">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                      <a class="glyphFeatureConcept" href="/allafamiglia"><span class="glyphicon glyphicon-cutlery"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info">
                                 <a href="/allafamiglia"><h2>Alla Famiglia</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a href="/goldenbuddha"><span class="glyphicon glyphicon-cutlery" style="font-size:261px;"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a href="/goldenbuddha"><h2>Golden Buddha</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a class="glyphFeatureConcept" href="/maxsalleghenytavern"><span class="glyphicon glyphicon-cutlery"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a href="/maxsalleghenytavern"><h2>Maxs Allegheny Tavern</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded mobile">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                     <a href="/tasteofindia"><span class="glyphicon glyphicon-cutlery" style="font-size:261px;"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                 <a href="/tasteofindia"><h2>Taste of India</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded mockup">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a class="glyphFeatureConcept" href="/originaloysterhouse"><span class="glyphicon glyphicon-cutlery"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a href="/originaloysterhouse"><h2>Original Oyster House</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded folio">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a href="/pagedairymart"><span class="glyphicon glyphicon-cutlery" style="font-size:261px;"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a href="/pagedairymart"><h2>Page Dairy Mart</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a class="glyphFeatureConcept" href="/phominh"><span class="glyphicon glyphicon-cutlery"></span></a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a href="/phominh"><h2>Pho Minh</h2></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#portfolio-->


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>    
</body>
</html>
