<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us | Triangle</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lightbox.css" rel="stylesheet"> 
    <link href="/static/css/animate.min.css" rel="stylesheet"> 
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href="https://www.linkedin.com/in/shubhamkahal" target="_blank"><i class="fa fa-linkedin"></i> (Shubham Kahal)</a></li>
                            <li><a href="https://www.linkedin.com/in/jonathan-kisch-129b7197?authType=NAME_SEARCH&authToken=magC&locale=en_US&srchid=2466411181464429738681&srchindex=1&srchtotal=4&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A2466411181464429738681%2CVSRPtargetId%3A346272369%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH" target="_blank"><i class="fa fa-linkedin"></i> (Jonathan Kisch)</a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <h1><img src="/static/images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About</a></li>
                        <li><a href="/contact">Contact</a></li>                                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Upload Your Own Data</h1>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
   
   	 <section id="features">
        <div class="container">
            <div class="row">
				<form action = "http://localhost:5000/uploader" method = "POST" 
					enctype = "multipart/form-data">
					<input type = "file" name = "file" />
					<br>
					<input class="btn-lg btn-primary" type = "submit"/>
				</form>
			</div>
		</div>
	</section>
	<br>

    <section id="features">
        <div class="container">
    {% if guess_data is not none and actual_data is not none %}

            <canvas id="canvas"></canvas>
    {% endif %}
    </div>
        </secton>
    <script>
      var barChartData = {
            labels: ["1", "2", "3", "4", "5"],
            datasets: [{
                type: 'bar',
                  label: "Guessed Review Count",
                    data: {{guess_data}},
                    fill: false,
                    backgroundColor: '#c41200',
                    borderColor: '#c41200',
                    hoverBackgroundColor: '#c41200',
                    hoverBorderColor: '#c41200',
                    yAxisID: 'y-axis-1'
            }, {
                    type: 'bar',
                    label: "Actual Review Count",
                    data: {{actual_data}},
                    fill: false,
                    backgroundColor: '#3b65a7',
                    borderColor: '#3b65a7',
                    hoverBackgroundColor: '#3b65a7',
                    hoverBorderColor: '#3b65a7',
                    yAxisID: 'y-axis-1'
            } ]
        };
        
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    title: {
                    display: true,
                    text: 'Rating Count'
                },
                    responsive: true,
                    tooltips: {
                      mode: 'label'
                  },
                  elements: {
                    line: {
                        fill: false
                    }
                },
                scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        display: false
                    },
                    labels: {
                        text: "Star Ratings",
                        show: true,
                    }
                }],
                yAxes: [{
                    type: "linear",
                    display: true,
                    position: "left",
                    id: "y-axis-1",
                    gridLines:{
                        display: false
                    },
                    labels: {
                        show:true,
                        
                    }
                }]
              }
            }
            });
        };

    </script>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="static/js/Chart.js"></script>   
</body>
</html>